In [706]:
import pandas as pd
import numpy as np

## Import Data (aide alimentaire):

In [707]:
aide_alimentaire = pd.read_csv('aide_alimentaire.csv')

In [708]:
aide_alimentaire.head()

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

In [709]:
aide_alimentaire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1475 entries, 0 to 1474
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pays bénéficiaire  1475 non-null   object
 1   Année              1475 non-null   int64
 2   Produit            1475 non-null   object
 3   Valeur             1475 non-null   int64
dtypes: int64(2), object(2)
memory usage: 46.2+ KB

## Cleaning Data (aide alimentaire):

In [710]:
aide_alimentaire.columns = aide_alimentaire.columns.str.lower()

In [711]:
aide_alimentaire = aide_alimentaire.rename(columns={'pays bénéficiaire':'zone'})

In [712]:
aide_alimentaire['valeur'] *= 1e3

In [713]:
aide_alimentaire.duplicated(subset=['zone', 'produit', 'année']).sum()

0

In [714]:
aide_alimentaire.isnull().sum()

zone       0
année      0
produit    0
valeur     0
dtype: int64

In [715]:
aide_alimentaire.head()

          zone  année              produit      valeur
0  Afghanistan   2013  Autres non-céréales    682000.0
1  Afghanistan   2014  Autres non-céréales    335000.0
2  Afghanistan   2013         Blé et Farin  39224000.0
3  Afghanistan   2014         Blé et Farin  15160000.0
4  Afghanistan   2013             Céréales  40504000.0

## Import Data (dispo alimentaire):

In [716]:
dispo_alimentaire = pd.read_csv('dispo_alimentaire.csv')

In [717]:
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

In [718]:
dispo_alimentaire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15605 entries, 0 to 15604
Data columns (total 18 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Zone                                                           15605 non-null  object
 1   Produit                                                        15605 non-null  object
 2   Origine                                                        15605 non-null  object
 3   Aliments pour animaux                                          2720 non-null   float64
 4   Autres Utilisations                                            5496 non-null   float64
 5   Disponibilité alimentaire (Kcal/personne/jour)                 14241 non-null  float64
 6   Disponibilité alimentaire en quantité (kg/personne/an)         14015 non-null  float64
 7   Disponibilité de matière grasse en quantité (g/personne/jour)  11794 non-null  float64
 8   Disponibilité de protéines en quantité (g/personne/jour)       11561 non-null  float64
 9   Disponibilité intérieure                                       15382 non-null  float64
 10  Exportations - Quantité                                        12226 non-null  float64
 11  Importations - Quantité                                        14852 non-null  float64
 12  Nourriture                                                     14015 non-null  float64
 13  Pertes                                                         4278 non-null   float64
 14  Production                                                     9180 non-null   float64
 15  Semences                                                       2091 non-null   float64
 16  Traitement                                                     2292 non-null   float64
 17  Variation de stock                                             6776 non-null   float64
dtypes: float64(15), object(3)
memory usage: 2.1+ MB

## Cleaning Data (dispo alimentaire):

In [719]:
dispo_alimentaire.columns = dispo_alimentaire.columns.str.lower()

In [720]:
dispo_alimentaire = dispo_alimentaire.rename(columns = {'disponibilité alimentaire (kcal/personne/jour)' : 'kcal_pers_jour'})
dispo_alimentaire = dispo_alimentaire.rename(columns = {'disponibilité alimentaire en quantité (kg/personne/an)' : 'kg_pers_an'})
dispo_alimentaire = dispo_alimentaire.rename(columns = {'disponibilité de matière grasse en quantité (g/personne/jour)' : 'mg_g_pers_an'})
dispo_alimentaire = dispo_alimentaire.rename(columns = {'disponibilité de protéines en quantité (g/personne/jour)' : 'proteine_g_pers_jour'})
dispo_alimentaire = dispo_alimentaire.rename(columns = {'disponibilité intérieure' : 'dispo_inter'})
dispo_alimentaire = dispo_alimentaire.rename(columns = {'exportations - quantité' : 'expor_qte'})
dispo_alimentaire = dispo_alimentaire.rename(columns = {'importations - quantité' : 'impor_qte'})
dispo_alimentaire = dispo_alimentaire.rename(columns = {'aliments pour animaux' : 'aliment_animal'})
dispo_alimentaire = dispo_alimentaire.rename(columns = {'autres utilisations' : 'autre'})
dispo_alimentaire = dispo_alimentaire.rename(columns = {'variation de stock' : 'variation_stock'})

In [721]:
dispo_alimentaire['aliment_animal'] *= 1e6
dispo_alimentaire['autre'] *= 1e6
dispo_alimentaire['dispo_inter'] *= 1e6
dispo_alimentaire['expor_qte'] *= 1e6 
dispo_alimentaire['impor_qte'] *= 1e6 
dispo_alimentaire['nourriture'] *= 1e6 
dispo_alimentaire['pertes'] *= 1e6
dispo_alimentaire['production'] *= 1e6 
dispo_alimentaire['semences'] *= 1e6 
dispo_alimentaire['traitement'] *= 1e6 
dispo_alimentaire['variation_stock'] *= 1e6

In [722]:
dispo_alimentaire.duplicated(subset=['zone', 'produit']).sum()

0

In [723]:
dispo_alimentaire.isnull().sum()

zone                        0
produit                     0
origine                     0
aliment_animal          12885
autre                   10109
kcal_pers_jour           1364
kg_pers_an               1590
mg_g_pers_an             3811
proteine_g_pers_jour     4044
dispo_inter               223
expor_qte                3379
impor_qte                 753
nourriture               1590
pertes                  11327
production               6425
semences                13514
traitement              13313
variation_stock          8829
dtype: int64

In [724]:
print(dispo_alimentaire.shape)

(15605, 18)

In [725]:
valeurs_null = (dispo_alimentaire.isnull().sum()*100) / dispo_alimentaire.shape[0]
print(valeurs_null)

zone                     0.000000
produit                  0.000000
origine                  0.000000
aliment_animal          82.569689
autre                   64.780519
kcal_pers_jour           8.740788
kg_pers_an              10.189042
mg_g_pers_an            24.421660
proteine_g_pers_jour    25.914771
dispo_inter              1.429029
expor_qte               21.653316
impor_qte                4.825376
nourriture              10.189042
pertes                  72.585710
production              41.172701
semences                86.600449
traitement              85.312400
variation_stock         56.578020
dtype: float64

In [726]:
dispo_alimentaire = dispo_alimentaire.fillna(0)

In [727]:
dispo_alimentaire.head()

,zone,produit,origine,aliment_animal,autre,kcal_pers_jour,kg_pers_an,mg_g_pers_an,proteine_g_pers_jour,dispo_inter,expor_qte,impor_qte,nourriture,pertes,production,semences,traitement,variation_stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000000.0,0.0,0.0,53000000.0,0.0,53000000.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000000.0,0.0,2000000.0,2000000.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000000.0,0.0,82000000.0,82000000.0,0.0,0.0,0.0,0.0,0.0

## Import Data (population):

In [728]:
population = pd.read_csv('population.csv')

In [729]:
population.head()

          Zone  Année     Valeur
0  Afghanistan   2013  32269.589
1  Afghanistan   2014  33370.794
2  Afghanistan   2015  34413.603
3  Afghanistan   2016  35383.032
4  Afghanistan   2017  36296.113

In [730]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416 entries, 0 to 1415
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1416 non-null   object
 1   Année   1416 non-null   int64
 2   Valeur  1416 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 33.3+ KB

## Cleaning Data (population):

In [731]:
population.columns = population.columns.str.lower()

In [732]:
population = population.rename(columns={'valeur':'populations'})

In [733]:
population['populations'] *= 1e3

In [734]:
population.duplicated(subset=['zone', 'année']).sum()

0

In [735]:
population.isnull().sum()

zone           0
année          0
populations    0
dtype: int64

In [736]:
population.head()

          zone  année  populations
0  Afghanistan   2013   32269589.0
1  Afghanistan   2014   33370794.0
2  Afghanistan   2015   34413603.0
3  Afghanistan   2016   35383032.0
4  Afghanistan   2017   36296113.0

## Import Data (sous nutrition):

In [737]:
sous_nutrition = pd.read_csv('sous_nutrition.csv')

In [738]:
sous_nutrition.head()

          Zone      Année Valeur
0  Afghanistan  2012-2014    8.6
1  Afghanistan  2013-2015    8.8
2  Afghanistan  2014-2016    8.9
3  Afghanistan  2015-2017    9.7
4  Afghanistan  2016-2018   10.5

In [739]:
sous_nutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1218 non-null   object
 1   Année   1218 non-null   object
 2   Valeur  624 non-null    object
dtypes: object(3)
memory usage: 28.7+ KB

## Cleaning Data (sous nutrition):

In [740]:
sous_nutrition.columns = sous_nutrition.columns.str.lower()

In [741]:
sous_nutrition = sous_nutrition.rename(columns={'valeur' : 'populations'})

In [742]:
sous_nutrition['année'] = sous_nutrition.année.apply(
    lambda x: x.split('-')[0])

In [743]:
sous_nutrition['année'] = pd.to_numeric(sous_nutrition.année)
sous_nutrition['année'] = sous_nutrition.année.apply(
    lambda x: x+1)

In [744]:
sous_nutrition.duplicated(subset=['zone', 'année']).sum()

0

In [745]:
sous_nutrition.isnull().sum()

zone             0
année            0
populations    594
dtype: int64

In [746]:
print(sous_nutrition.populations.unique())

['8.6' '8.8' '8.9' '9.7' '10.5' '11.1' '2.2' '2.5' '2.8' '3' '3.1' '3.3'
 '0.1' '1.3' '1.2' nan '7.6' '6.2' '5.3' '5.6' '5.8' '5.7' '1.5' '1.6'
 '1.1' '1.7' '<0.1' '21.7' '22.4' '23.3' '22.3' '21.5' '20.9' '0.8' '2'
 '1.9' '1.8' '0.4' '0.5' '0.3' '0.2' '3.2' '3.4' '3.6' '3.8' '2.1' '2.3'
 '2.4' '0.6' '0.7' '0.9' '3.9' '2.7' '1.4' '4.8' '4.6' '4.9' '5' '4.4'
 '4.3' '4.2' '4.5' '26.2' '24.3' '21.3' '21.1' '2.9' '5.1' '5.2' '5.4'
 '203.8' '198.3' '193.1' '190.9' '190.1' '189.2' '23.6' '24' '24.1' '3.7'
 '7.3' '7.8' '8.4' '9' '9.1' '10.1' '10' '10.7' '11.5' '11.9' '11.8' '8.7'
 '10.3' '11' '1' '5.5' '6.8' '7.9' '5.9' '7' '9.2' '9.4' '9.6' '6.7' '7.1'
 '7.2' '14.7' '17.4' '20.2' '22.2' '22.8' '24.6' '31.1' '28.5' '25.4'
 '24.8' '26.1' '14.5' '15.4' '16.5' '15.8' '15.7' '10.8' '11.2' '11.6'
 '12' '12.2' '13.5' '13.2' '12.8' '13' '13.4' '14.1' '4.1' '6.1' '6' '6.5'
 '2.6' '8' '8.3']

In [747]:
sous_nutrition['populations'] = sous_nutrition['populations'].replace(['<0.1'], 0.1)
print(sous_nutrition.populations.unique())
sous_nutrition.dtypes

['8.6' '8.8' '8.9' '9.7' '10.5' '11.1' '2.2' '2.5' '2.8' '3' '3.1' '3.3'
 '0.1' '1.3' '1.2' nan '7.6' '6.2' '5.3' '5.6' '5.8' '5.7' '1.5' '1.6'
 '1.1' '1.7' 0.1 '21.7' '22.4' '23.3' '22.3' '21.5' '20.9' '0.8' '2' '1.9'
 '1.8' '0.4' '0.5' '0.3' '0.2' '3.2' '3.4' '3.6' '3.8' '2.1' '2.3' '2.4'
 '0.6' '0.7' '0.9' '3.9' '2.7' '1.4' '4.8' '4.6' '4.9' '5' '4.4' '4.3'
 '4.2' '4.5' '26.2' '24.3' '21.3' '21.1' '2.9' '5.1' '5.2' '5.4' '203.8'
 '198.3' '193.1' '190.9' '190.1' '189.2' '23.6' '24' '24.1' '3.7' '7.3'
 '7.8' '8.4' '9' '9.1' '10.1' '10' '10.7' '11.5' '11.9' '11.8' '8.7'
 '10.3' '11' '1' '5.5' '6.8' '7.9' '5.9' '7' '9.2' '9.4' '9.6' '6.7' '7.1'
 '7.2' '14.7' '17.4' '20.2' '22.2' '22.8' '24.6' '31.1' '28.5' '25.4'
 '24.8' '26.1' '14.5' '15.4' '16.5' '15.8' '15.7' '10.8' '11.2' '11.6'
 '12' '12.2' '13.5' '13.2' '12.8' '13' '13.4' '14.1' '4.1' '6.1' '6' '6.5'
 '2.6' '8' '8.3']

zone           object
année           int64
populations    object
dtype: object

In [748]:
sous_nutrition['populations'] = pd.to_numeric(sous_nutrition['populations'], errors='coerce')
sous_nutrition['populations'] = sous_nutrition.populations.fillna(0)

In [749]:
sous_nutrition['populations'] *= 1e6

In [750]:
ss = sous_nutrition[sous_nutrition['populations'] == 0.0]
ss.zone.unique()

array(['Allemagne', 'Andorre', 'Antigua-et-Barbuda', 'Argentine',
       'Australie', 'Autriche', 'Azerbaïdjan', 'Bahamas', 'Bahreïn',
       'Bélarus', 'Belgique', 'Bermudes', 'Bhoutan', 'Bosnie-Herzégovine',
       'Brésil', 'Brunéi Darussalam', 'Burundi', 'Canada',
       'Chine - RAS de Hong-Kong', 'Chine, continentale', 'Comores',
       'Croatie', 'Cuba', 'Danemark', 'Djibouti', 'Érythrée', 'Espagne',
       'Estonie', "États-Unis d'Amérique", 'Fédération de Russie',
       'Finlande', 'France', 'Grèce', 'Grenade', 'Groenland', 'Guinée',
       'Guinée équatoriale', 'Guinée-Bissau', 'Hongrie', 'Îles Cook',
       'Îles Marshall', 'Irlande', 'Islande', 'Israël', 'Italie', 'Japon',
       'Kazakhstan', 'Koweït', 'Lettonie', 'Libye', 'Lituanie',
       'Luxembourg', 'Maldives', 'Malte', 'Micronésie (États fédérés de)',
       'Monténégro', 'Nauru', 'Niger', 'Nioué', 'Norvège',
       'Nouvelle-Zélande', 'Ouganda', 'Palaos', 'Palestine',
       'Papouasie-Nouvelle-Guinée', 'Pays-Bas', 'Pologne', 'Porto Rico',
       'Portugal', 'Qatar', 'République arabe syrienne',
       'République centrafricaine', 'République de Corée',
       'République de Moldova', 'République démocratique du Congo',
       'République démocratique populaire lao', 'Roumanie',
       "Royaume-Uni de Grande-Bretagne et d'Irlande du Nord",
       'Sainte-Lucie', 'Saint-Kitts-et-Nevis', 'Samoa',
       'Samoa américaines', 'Seychelles', 'Singapour', 'Slovénie',
       'Somalie', 'Soudan du Sud', 'Suède', 'Suisse', 'Tadjikistan',
       'Tchéquie', 'Tokélaou', 'Tonga', 'Tunisie', 'Turquie', 'Tuvalu',
       'Ukraine', 'Uruguay', 'Yémen', 'Zambie', 'Zimbabwe'], dtype=object)

In [751]:
ss1 = sous_nutrition[sous_nutrition['populations'] == 100000]
ss1.zone.unique()

array(['Albanie', 'Arménie', 'Barbade', 'Belize', 'Cabo Verde',
       'Chine - RAS de Macao', 'Chypre', 'Dominique', 'Eswatini', 'Fidji',
       'Guyana', 'Îles Salomon', 'Kiribati', 'Macédoine du Nord',
       'Maurice', 'Nouvelle-Calédonie', 'Polynésie française',
       'Saint-Vincent-et-les Grenadines', 'Samoa', 'Sao Tomé-et-Principe',
       'Suriname', 'Trinité-et-Tobago', 'Vanuatu'], dtype=object)

In [752]:
sous_nutrition['populations'] = sous_nutrition['populations'].replace([100000], 0.0)

In [753]:
sous_nutrition.head()

          zone  année  populations
0  Afghanistan   2013    8600000.0
1  Afghanistan   2014    8800000.0
2  Afghanistan   2015    8900000.0
3  Afghanistan   2016    9700000.0
4  Afghanistan   2017   10500000.0

## Data (mark):

### 1) Proportion de personnes en état de sous-nutrition en 2017:

In [754]:
#total de la population en sous-nutrition sur 2017:
sous_nutrition_2017 = sous_nutrition[sous_nutrition.année == 2017]

#total de la population global sur 2017:
population_2017 = population[population.année == 2017]

#jointure:
total_pop = population_2017.merge(sous_nutrition_2017,how='inner', on='zone')

#calcul de la proportion de personnes en sous-nutrition:
proportion = (total_pop.populations_y.sum() / total_pop.populations_x.sum())*100
print('taux:', "{:.2}".format(proportion))

taux: 7.1

### 2) Nombre théorique de personnes qui pourraient être nourries en 2017:

In [755]:
#calcul nombre théorique de personnes nourries:
df = dispo_alimentaire.merge(population[population.année == 2017], on='zone', how='inner')

dispo_tot_kcal = (df.kcal_pers_jour * df.populations)*365
dispo_tot_sum = dispo_tot_kcal.sum()
print('disponibilité total en kcal:', "{:.2}".format(dispo_tot_sum))

kcal_pers = 2500
dispo_pers = (dispo_tot_sum / (kcal_pers*365))
print('nombre de personnes nourries:', "{:.2}".format(dispo_pers))

taux = dispo_pers / population[population.année == 2017].populations.sum()
print('taux:', "{:.2%}".format(taux))

disponibilité total en kcal: 7.6e+15
nombre de personnes nourries: 8.4e+09
taux: 110.86%

### 3) Disponibilité alimentaire des produits végétaux en 2017:

In [756]:
#calcul dispo vegetale:
df = dispo_alimentaire.merge(population[population.année == 2017], on='zone', how='inner')

dispo_vegetale = (df[df.origine == 'vegetale'].kcal_pers_jour * df.populations)*365
dispo_vegetale_sum = dispo_vegetale.sum()
print('disponibilité total en kcal:', "{:.2}".format(dispo_vegetale_sum))

kcal_pers = 2500
dispo_pers = (dispo_vegetale_sum / (kcal_pers*365))
print('nombres de peronnes nourries:', "{:.2}".format(dispo_pers))

taux = dispo_pers / population[population.année == 2017].populations.sum()

print('taux:', "{:.0%}".format(taux))

disponibilité total en kcal: 6.3e+15
nombres de peronnes nourries: 6.9e+09
taux: 91%

### 4) Proportion des disponibilités intérieurs pour l'alimentation (animale, humaine, perte) en 2017:

In [757]:
#proportion nourriture humaine:
nourriture_humaine_total = dispo_alimentaire.nourriture.sum()
dispo_alimentaire_total = dispo_alimentaire.dispo_inter.sum()
taux_nourriture_humaine = (nourriture_humaine_total / dispo_alimentaire_total)*100
print('taux nourriture humaine:', "{:.3}".format(taux_nourriture_humaine))

taux nourriture humaine: 49.5

In [758]:
#proportion nourriture animal:
nourriture_animal_total = dispo_alimentaire.aliment_animal.sum()
taux_nourriture_animal = (nourriture_animal_total / dispo_alimentaire_total)*100
print('taux nourriture animal:', "{:.3}".format(taux_nourriture_animal))

taux nourriture animal: 13.2

In [759]:
#proportion des pertes:
pertes_total = dispo_alimentaire.pertes.sum()
taux_pertes = (pertes_total / dispo_alimentaire_total)*100
print('taux pertes:', "{:.2}".format(taux_pertes))

taux pertes: 4.6

In [760]:
#proportion de semence, traitement et autre:
semence_total = dispo_alimentaire.semences.sum()
traitement_total = dispo_alimentaire.traitement.sum()
autre_total = dispo_alimentaire.autre.sum()
taux_semence = (semence_total / dispo_alimentaire_total)*100
taux_traitement = (traitement_total / dispo_alimentaire_total)*100
taux_autre = (autre_total / dispo_alimentaire_total)*100
print('taux semences:', "{:.2}".format(taux_semence))
print('taux traitement:', "{:.3}".format(taux_traitement))
print('taux autre:', "{:.2}".format(taux_autre))
print('taux total:',"{:.4}".format(taux_nourriture_humaine + taux_nourriture_animal + taux_pertes + taux_semence + taux_traitement + taux_autre))

taux semences: 1.6
taux traitement: 22.4
taux autre: 8.8
taux total: 100.1

## Data (melanie):

### 1) Liste des 10 pays ou la proportion de personnes sous-alimentées est la plus élevée:

In [761]:
#jointure:
pop_sous_alimente = sous_nutrition[sous_nutrition.année == 2017].groupby('zone').sum().reset_index()
pop_global = population[population.année == 2017].groupby('zone').sum().reset_index()
df = pop_sous_alimente.merge(pop_global, how='inner', on='zone')

#calcul:
proportion = (df.populations_x/df.populations_y)*100
df['proportion'] = proportion
print(df[['zone','proportion']].sort_values(by='proportion', ascending=False).head(10))

                                           zone  proportion
72                                        Haïti   48.259182
151  République populaire démocratique de Corée   47.188685
99                                   Madagascar   41.062924
95                                      Libéria   38.279742
91                                      Lesotho   38.249438
174                                       Tchad   37.957606
143                                      Rwanda   35.055619
112                                  Mozambique   32.810898
177                                 Timor-Leste   32.173531
0                                   Afghanistan   28.928718

### 2) Liste des 10 pays qui ont le plus bénéficiés d'aide alimentaires:

In [762]:
#calcul:
pays_aide_alimentaire = aide_alimentaire.groupby(['zone']).valeur.sum()
print(pays_aide_alimentaire.sort_values(ascending=False).head(10))

zone
République arabe syrienne           1.858943e+09
Éthiopie                            1.381294e+09
Yémen                               1.206484e+09
Soudan du Sud                       6.952480e+08
Soudan                              6.697840e+08
Kenya                               5.528360e+08
Bangladesh                          3.481880e+08
Somalie                             2.926780e+08
République démocratique du Congo    2.885020e+08
Niger                               2.763440e+08
Name: valeur, dtype: float64

### 3) Liste des 10 pays ayants le plus de disponibilités alimentaires par habitant en 2013:

In [763]:
#Pays ayant le plus de disponibilités alimentaire:
dataf = dispo_alimentaire.groupby('zone').dispo_inter.sum()
print(dataf.sort_values(ascending=False).head(10))

zone
Chine, continentale      2.036726e+12
Inde                     1.100838e+12
Brésil                   1.033314e+12
États-Unis d'Amérique    7.779920e+11
Fédération de Russie     2.637840e+11
Indonésie                2.269300e+11
Nigéria                  1.923880e+11
Mexique                  1.867090e+11
Pakistan                 1.686310e+11
Allemagne                1.622750e+11
Name: dispo_inter, dtype: float64

In [764]:
#jointure dataframe:
df = dispo_alimentaire.merge(population, on='zone', how='inner')

#calcul pour 2013:
pays_dispo_alimentaire = df[df.année == 2013].groupby('zone').dispo_inter.sum()
total_pop_pays = df[df.année == 2013].groupby('zone').populations.sum()
dispo_alimentaire_habitant = pays_dispo_alimentaire/total_pop_pays
print(dispo_alimentaire_habitant.sort_values(ascending=False).head(10))

zone
Eswatini    65.387488
Brésil      53.541118
Belize      50.115970
Guyana      48.685661
Maurice     41.725701
Danemark    37.663955
Vanuatu     32.862762
Bélarus     32.094165
Fidji       31.042883
Kiribati    30.599406
dtype: float64

### 4) Liste des 10 pays ayant le moins de disponibilités alimentaires par habitant en 2013:

In [765]:
#calcul pour 2013:
pays_dispo_alimentaire = df[df.année == 2013].groupby('zone').dispo_inter.sum()
total_pop_pays = df[df.année == 2013].groupby('zone').populations.sum()
dispo_alimentaire_habitant = pays_dispo_alimentaire/total_pop_pays
print(dispo_alimentaire_habitant.sort_values(ascending=True).head(10))

zone
Yémen          4.182699
Éthiopie       5.015558
Bangladesh     5.066794
Tchad          5.495851
Gambie         5.502129
Sénégal        5.847404
Mauritanie     6.234456
Timor-Leste    6.353860
Sri Lanka      6.438649
Libéria        6.455391
dtype: float64

### 5) Liste des 10 pays qui importent le plus nourriture, comparaison avec la situation de la population du pays:

In [766]:
#jointure dataframe:
pays_dispo_alimentaire = dispo_alimentaire.merge(sous_nutrition, on='zone', how='inner')

#calcul pour 2013:
pays_sous_nutri_2013 = pays_dispo_alimentaire[pays_dispo_alimentaire['année'] == 2013].groupby('zone').populations.sum().reset_index()
pays_impor_2013 = pays_dispo_alimentaire[pays_dispo_alimentaire['année'] == 2013].groupby('zone').impor_qte.sum().reset_index()
pays_impor = pays_impor_2013.merge(pays_sous_nutri_2013, on='zone', how='inner')
print(pays_impor.sort_values(by=['impor_qte'], ascending=False).head(10))

                      zone     impor_qte  populations
36     Chine, continentale  1.562460e+11          0.0
169  États-Unis d'Amérique  8.188700e+10          0.0
4                Allemagne  6.535300e+10          0.0
77                   Japon  5.541400e+10          0.0
119               Pays-Bas  5.291000e+10          0.0
75                  Italie  3.869200e+10          0.0
16                Belgique  3.527600e+10          0.0
53                  France  3.376900e+10          0.0
48                 Espagne  3.260800e+10          0.0
100                Mexique  3.251200e+10  465500000.0

### 6) Liste des 10 pays qui exportent le plus, comparaison avec la situation de la population du pays:

In [767]:
#calcul pour 2013:
pays_sous_nutri_2013 = pays_dispo_alimentaire[pays_dispo_alimentaire['année'] == 2013].groupby('zone').populations.sum().reset_index()
pays_expor_2013 = pays_dispo_alimentaire[pays_dispo_alimentaire['année'] == 2013].groupby('zone').expor_qte.sum().reset_index()
pays_expor = pays_expor_2013.merge(pays_sous_nutri_2013, on='zone', how='inner')
print(pays_expor.sort_values(by=['expor_qte'], ascending=False).head(10))

                      zone     expor_qte   populations
169  États-Unis d'Amérique  1.635240e+11  0.000000e+00
23                  Brésil  1.265520e+11  0.000000e+00
53                  France  6.594500e+10  0.000000e+00
4                Allemagne  5.743100e+10  0.000000e+00
31                  Canada  5.477100e+10  0.000000e+00
8                Argentine  5.233300e+10  1.116000e+08
119               Pays-Bas  5.217900e+10  0.000000e+00
151              Thaïlande  5.043000e+10  5.890000e+08
10               Australie  4.318400e+10  0.000000e+00
68                    Inde  4.080700e+10  1.976860e+10

### 7) Liste des 10 pays avec la population en sous-nutrition la plus élevée, en comparant la différence entre l'impor et l'expor:

In [768]:
#calcul pour 2013:
pays_sous_nutri_2013 = pays_dispo_alimentaire[pays_dispo_alimentaire['année'] == 2013].groupby(['zone', 'populations', 'expor_qte', 'impor_qte']).sum().reset_index()
pays_sous_nutri = pays_sous_nutri_2013[['zone', 'populations', 'expor_qte', 'impor_qte']]
impor_pays = pays_sous_nutri.groupby(['zone', 'populations']).impor_qte.sum()
expor_pays = pays_sous_nutri.groupby(['zone', 'populations']).expor_qte.sum()
diff_impor_expor = impor_pays - expor_pays

#résultat descendant:
print(diff_impor_expor.sort_values(ascending=False).head(10))

zone                            populations
Chine, continentale             0.0            1.201860e+11
Japon                           0.0            5.343800e+10
République de Corée             0.0            2.642300e+10
Arabie saoudite                 1500000.0      2.296800e+10
Égypte                          4400000.0      1.908300e+10
Algérie                         1300000.0      1.668300e+10
Italie                          0.0            1.503500e+10
Nigéria                         14700000.0     1.369300e+10
Iran (République islamique d')  3600000.0      1.304600e+10
Chine, Taiwan Province de       900000.0       1.296600e+10
dtype: float64

In [769]:
#résultat ascendant:
print(diff_impor_expor.sort_values(ascending=True).head(10))

zone                   populations
Brésil                 0.0           -1.097300e+11
États-Unis d'Amérique  0.0           -8.163700e+10
Argentine              1200000.0     -5.112600e+10
Thaïlande              6200000.0     -3.913200e+10
Australie              0.0           -3.732100e+10
Canada                 0.0           -3.538600e+10
Ukraine                0.0           -3.429200e+10
France                 0.0           -3.217700e+10
Inde                   203800000.0   -2.185100e+10
Nouvelle-Zélande       0.0           -2.078100e+10
dtype: float64